input
{
  text-align: center;
}
.form-control-lg
{
font-size: 1.8rem;
}
.text-danger{
  text-align: center;
  font-size: 1.4rem;
}
.container {
  min-width: 500px;
  max-width: 850px;
  margin: 0 auto;
}
.cursor {
  cursor:pointer;
}
