/* You can add global styles to this file, and also import other style files */
body {

  background-image: url('./assets/fondo3.jpg');
  background-size: 100%;
  opacity: .90;
  margin:0;
  padding: 0;

}

